<!DOCTYPE html>
<html>
<head>
	<title>Harry the Kiddush Man's Sports Activity Idea Zone</title>
	<link rel="stylesheet" 
	type="text/css" 
	href="style.css">
</head>
<body>

	<div id="app">

		<h1>Harry the Kiddush Man's Sports Activity Idea Zone</h1>

		<div><h2>Welcome to the Sports Idea Zone.</h2></div>

		<div><h2>The purpose of this site is to provide you with Sports Activities that you can enjoy using the equipment that you have on hand</h2></div>

		<form>
			<div class="form-field">
				<legend>Select the types of Sports Activity equipment that are available to you.</legend>

				<div v-for="thing in typeOfSportsActivtyEquipment">
					<label>
						<input type="checkbox" name="typeOfSportsActivtyEquipment" :value="thing.value" v-model="equipmentAvailable">
						{{thing.label}}
					</label>
					
				</div>


			</div>
		</form>

		<ul>
			<li v-for="sport in sportsActivities">{{sport}}</li>
		</ul>
		<input type="range" name="movie-rating" min="0" max="10" step="0.1">
		<label for="fname">First name:</label>
<input type="text" name="fname" id="fname"><br>

<input type="checkbox" name="vehicle" value="Bike"> I own a bike




	</div>

	<script src="vue.js" defer></script>
	<script src="app.js" defer></script>

</body>
</html>